@import '../../styles/settings.scss';

.cardForm{
    padding: 10px;
    text-align: center;
}

.space{
    margin:10px;
}

@media (max-width: 767px) {
    .columnForm {
      width: 100%;
      margin: 0 0 $base-size 0;
    }
  }