@import '../../styles/settings.scss';
.nav{
    background-color:darken($color-dark, 3%);
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar_links{
    list-style-type: none;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.icon {
    display: flex;
    font-size: 30px;
    align-items: center;
}

i {
    font-size: 24px;
    color: $color-light;
}

li a {
    color: $color-light;
    text-decoration: none;
    font-size: 24px;
    padding: $base-size;
}

.linkActive{
    color:$color-warning;
}

.main{
    text-align: center;
}

.title {
    padding: ($base-size * 3) 0;
    text-align: center;
    font-size: ($base-size * 3);
    text-transform: uppercase;
  }
  
  .subtitle {
    padding: ($base-size * 2) 0;
    text-align: center;
    font-size: ($base-size * 2);
    font-style: italic;
    font-weight: normal;
  }
  
  .title + .subtitle {
    margin-top: (- $base-size * 3);
  }
