@import '../../styles/settings.scss';
.nav{
    background-color:darken($color-dark, 3%);
}

.navbar {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.navbar_links{
    list-style-type: none;
}